body {
	margin: 0 auto;
	align-items: center;
	background-color: #0e0e0e;
	color: #aaf;
}

.remove {
	width: min(4vh, 4vw);
	height: min(4vh, 4vw);
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
}

.download {
	width: min(4vh, 4vw);
	height: min(4vh, 4vw);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
}

.holder {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(20vh, 20vw), auto));
	gap: 5%; /* Add some gap between the content divs */
	margin: min(5vh, 5vw);
	padding: min(5vh, 5vw);
}

.item {
	box-sizing: border-box;
	list-style-type: none;
	width: min(20vh, 20vw);
	height: min(20vh, 20vw);
	overflow-wrap: break-word;
	background-color: rgba(20, 0, 55, 255);
	box-shadow: 0px 5px 10px 0px rgba(255, 10, 200, 0.6);
	position: relative;
}

.name {
	font-size: min(3vh, 3vw);
	position: absolute;
	margin: 2px;
	overflow: hidden;
	width: 100%;
}

button {
	width: 100%;
	height: 100%;
	background-color: rgba(120, 0, 255, 150);
	border: none;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #fff;
	font-size: 1.0em;
}

button:hover {
	cursor: pointer;
	background-color: #fff;
	color: #000;
}

dialog {
	position: relative;
	top: 0;
	left: 0;
	width: 60%;
	height: 10%;
	background-color: rgba(10, 0, 10, 0.9);
	color: #fff;
	z-index: 100;
	border-radius: 5px;
	border: 1px solid #fff;
}

progress {
	color: #8f8;
	z-index: 100;
	border-radius: 5px;
	top: 50%;
	border: 1px solid #fff;
	width: 100%;
}

dialog::backdrop {
	backdrop-filter: blur(5px);
}
